<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="19e3554c-f592-472e-ad74-3774dcc19c69" Publisher="CN=David" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ParseTodo</DisplayName>
    <PublisherDisplayName>Parse Sample</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ParseTodo.App">
      <VisualElements DisplayName="Parse Todo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ParseTodo" ForegroundText="light" BackgroundColor="#017fff" ToastCapable="false">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#017fff" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>